/* Popup style */
.popup-box {
	position: fixed;
	background: #00000050;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.box {
	position: relative;
	width: 70%;
	margin: 0 auto;
	height: auto;
	max-height: 70vh;
	margin-top: calc(100vh - 85vh - 20px);
	background: #cccc;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid #999;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.close-icon {
	content: "x";
	cursor: pointer;
	position: fixed;
	right: calc(15% - 30px);
	top: calc(100vh - 85vh - 33px);
	background: #ededed;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	border: 1px solid #999;
	font-size: 20px;
}
.addItem {
	display: flex;
	flex-direction: column;
	height: 350px;
	justify-content: space-between;
	width: 480px;
	align-items: center;
}
.addItemInput {
	width: 300px;
	height: 30px;
	font-size: large;
	font-weight: bold;
	color: black;
}
.addItemInput:hover {
	cursor: text;
}
.btnAdd {
	width: 200px;
	height: 50px;
	background-color: rgb(8 8 8);
	color: white;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 20px;
	font-weight: bold;
	font-size: 18px;
}

.inputDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 570px;
	font-weight: 900;
	color: white;
}
.headerCls {
	background-color: azure;
	padding: 50px;
}
.headerDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.searchTxt {
	width: 270px;
	height: 30px;
	border: 1px solid #cccccc;
	border-radius: 7px;
}
.product {
	display: flex;
	flex-direction: column;
	width: 235px;
	height: 400px;
	padding: 2px;
	background-color: white;
	border-radius: 15px 15px 0 0;
	box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
	margin-bottom: 30px;
	justify-content: space-between;
	border: 1px solid #cccccc;
}
.deletex {
	cursor: pointer;
	width: 10px;
}
.prodName {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 10px;
}
.nameDiv {
	justify-content: space-between;
	align-items: center;
	float: left;
	text-align: center;
	overflow-y: clip;
	display: -webkit-inline-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.productsDiv {
	display: flex;
	min-width: 1024px;
	justify-content: space-between;
	padding: 50px;
	flex-wrap: wrap;
	background-color: azure;
}
.deleteDiv {
	display: flex;
	justify-content: flex-end;
}
.btnAddCart {
	height: 40px;
	background-color: #000;
	color: white;
	border: none;
	bottom: -40px;
	width: 100%;
	left: 0;
	cursor: pointer;
}
.btnHeader {
	width: 200px;
	height: 50px;
	background-color: rgb(8 8 8);
	color: white;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 20px;
	font-weight: bold;
	font-size: 18px;
}
.DiscDiv {
	color: rgb(112, 112, 112);
	float: left;
	font-size: 10px;
	font-style: italic;
	width: 100%;
	overflow-y: clip;
	display: -webkit-inline-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.PriceDiv {
	display: flex;
	height: 16px;
	width: 95%;
	align-content: space-between;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	font-weight: bolder;
}
.AddText {
	color: black;
}
.Rating {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	padding-bottom: 4%;
}
