.details-div{
    margin-top: 35px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    height: 25%;;
    width: 100%;
    /* border: solid; */
    /* position: fixed; */
}

.con-details-div{
    margin-top: 35px;
    padding-bottom: 15px;
    height: 25%;;
    width: 100%;
    border: solid;
}
/* .bottom-div{
    margin-top: 30px;
} */
